body {
    background-color: rgb(211, 238, 238);
    font-family: roboto;
  }
  h1 {
    color: purple;
    text-align: center;
    font-weight: bold;
    text-decoration: solid;
    text-transform: uppercase;
    
  }
  figure {
    display: inline-flex;
  }
  #hotel {
    color: purple;
    text-decoration: solid;
    text-transform: uppercase;
    text-align: center;
  }
  /* things to study deeply 
  border, margin, padding, height, width */